/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles
*/

body {
    background-image: url(/images/2137655.jpg) !important; 
    background-position: center center !important;; 
    background-size: cover !important;; 
    background-repeat: no-repeat !important;; 
    background-attachment: fixed !important;;
}

.padded {
    margin-left: 5px; 
    margin-right: 5px;
    display: block;
}

.iconz  {
width: 80px;
height: 80px;
display: block;
margin-left: 5px; 
margin-right: 5px;
}